In [1]:
import sqlite3
import pandas as pd
import numpy as np

Data was taken from https://www.w3resource.com/sql-exercises/soccer-database-exercise/soccer_team_view_data.php and https://www.w3resource.com/sql-exercises/soccer-database-exercise/index.php

# Load data into pandas

In [5]:
soccer_team = pd.read_csv('/Users/dariga_kokenova/Documents_comp/Flatiron/blogs/blog_june_01/soccer_team.csv', 
                          header = 0)

In [7]:
soccer_team.head()

,team_id,team_group,match_played,won,draw,lost,goal_for,goal_agnst,goal_diff,points,group_position
0,1201,A,3,1,0,2,1,3,-2,3,3
1,1202,F,3,0,1,2,1,4,-3,1,4
2,1203,E,3,2,0,1,4,2,2,6,2
3,1204,D,3,2,1,0,5,3,2,7,1
4,1205,D,3,0,1,2,2,5,-3,1,4

In [24]:
soccer_team.columns

Index(['team_id', 'team_group', 'match_played', 'won', 'draw', 'lost',
       'goal_for', 'goal_agnst', 'goal_diff', 'points', 'group_position'],
      dtype='object')

In [22]:
soccer_country = pd.read_csv('/Users/dariga_kokenova/Documents_comp/Flatiron/blogs/blog_june_01/soccer_country.csv', 
                          header = 0, usecols = ['country_id','country_abbr','country_name'])

In [23]:
soccer_country.head()

   country_id country_abbr    country_name
0        1201          ALB         Albania
1        1202          AUT         Austria
2        1203          BEL         Belgium
3        1204          CRO         Croatia
4        1205          CZE  Czech Republic

In [25]:
soccer_country.columns

Index(['country_id', 'country_abbr', 'country_name'], dtype='object')

# Create SQL database

In [2]:
## Create new SQL database
conn = sqlite3.connect('soccer')
cur = conn.cursor()

conn.commit()

In [26]:
# Create SQL table called "soccer_team" 
cur.execute("""CREATE TABLE soccer_team (
                                team_id TEXT PRIMARY KEY NOT NULL,
                                team_group NOT NULL,
                                match_played NOT NULL,
                                won NOT NULL,
                                draw NOT NULL,
                                lost NOT NULL,
                                goal_for NOT NULL,
                                goal_agnst NOT NULL,
                                goal_diff NOT NULL,
                                points NOT NULL,
                                group_position NOT NULL)
            """)
conn.commit()

In [27]:
# Create SQL table called "soccer_country" 
cur.execute("""CREATE TABLE soccer_country (
                                country_id  TEXT PRIMARY KEY NOT NULL,
                                country_abbr TEXT,
                                country_name TEXT)
            """)
conn.commit()

# Pull data into SQL

In [34]:
for index, row in soccer_team.iterrows():
    cur.execute("""INSERT INTO soccer_team (team_id, team_group, match_played, won, draw, lost,
                    goal_for, goal_agnst, goal_diff, points, group_position) 
                    values(?,?,?,?,?,?,?,?,?,?,?)""", 
                    row)
conn.commit()

In [35]:
for index, row in soccer_country.iterrows():
    cur.execute("""INSERT INTO soccer_country (country_id, country_abbr, country_name) 
                    values(?,?,?)""", 
                    row)
conn.commit()