In [2]:
import sqlite3

In [3]:
## Create new SQL database
conn = sqlite3.connect('departments')
cur = conn.cursor()

conn.commit()

In [6]:
# Create SQL table called "departments" 
cur.execute("""CREATE TABLE departments (
                                department_id TEXT PRIMARY KEY NOT NULL,
                                department_name TEXT,
                                location_id TEXT)
            """)
conn.commit()

In [7]:
# Create SQL table called "employees" 
cur.execute("""CREATE TABLE employees (
                                employee_id TEXT PRIMARY KEY NOT NULL,
                                first_name TEXT,
                                last_name TEXT,
                                email TEXT,
                                phone_number TEXT,
                                hire_date NUMERIC,
                                job_id TEXT,
                                salary NUMERIC,
                                manager_id TEXT,
                                department_id TEXT)
            """)
conn.commit()